<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/pessoa/altere">
    <label>Id: </label>
    <input type="number" name="id">
    <button type="submit">Altere</button>
  </form>

</body>
</html>
