@{

}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form id="delete-pessoa" action="/api/pessoa" method="delete">
  <label>Id da pessoa: </label>
  <input name="id" id="id" type="number"/>
  <button id="deletar" type="submit">Deletar</button>
  </form>
</body>
</html>
